[Service]
Environment=NETWORK={{ network }}
Environment=JWT_SECRET={{ jwt_secret_path }}
Environment=WEB3_URL=http://127.0.0.1:8551
Environment=NAT=EXTIP={{ external_ip }}

ExecStart=
ExecStart=/usr/bin/nimbus_beacon_node \
  --network=${NETWORK} \
  --data-dir="/var/lib/nimbus/shared_${NETWORK}_0" \
  --tcp-port=${TCP_PORT} \
  --udp-port=${UDP_PORT} \
  --rest=${REST_ENABLED} --rest-port=${REST_PORT} \
  --metrics=${METRICS_ENABLED} --metrics-port=${METRICS_PORT} \
  --web3-url=${WEB3_URL} \
  --jwt-secret=${JWT_SECRET} \
  --enr-auto-update